Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py38, cross-barbican-py38, cross-ceilometer-py38, cross-cinder-py38, cross-designate-py38, cross-glance-py38, cross-heat-py38, cross-horizon-py38, cross-horizon-npm, cross-keystone-py38, cross-kuryr-py38, cross-ironic-py38, cross-manila-py38, cross-masakari-py38, cross-mistral-py38, cross-neutron-py38, cross-nova-functional, cross-placement-functional-py38, cross-nova-py38, cross-placement-py38, cross-osvif-py3, cross-octavia-py38, cross-swift-py38, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, requirements-tox-validate-projects, requirements-tox-bindep, requirements-check, build-wheel-cache-centos-8-stream, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, cross-nova-py311, cross-placement-py311, tempest-full-py3, tempest-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py39-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py310-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py311-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py39-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py310-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py311-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$
  build-wheel-cache-centos-8-stream: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy: any of: bindep.txt
  cross-nova-py311: any of: ^upper-constraints.txt$
  cross-placement-py311: any of: ^upper-constraints.txt$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$

Update patch set 1
  622ab28cae3cdd6cf135f0bbd53fc58f70b2af8c
Due: tempest-full-py3, tempest-pg-full

Remove pysendfile
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py38, cross-barbican-py38, cross-ceilometer-py38, cross-cinder-py38, cross-designate-py38, cross-glance-py38, cross-heat-py38, cross-horizon-py38, cross-horizon-npm, cross-keystone-py38, cross-kuryr-py38, cross-ironic-py38, cross-manila-py38, cross-masakari-py38, cross-mistral-py38, cross-neutron-py38, cross-nova-functional, cross-placement-functional-py38, cross-nova-py38, cross-placement-py38, cross-osvif-py3, cross-octavia-py38, cross-swift-py38, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, requirements-check, cross-nova-py311, cross-placement-py311, tempest-full-py3, tempest-pg-full

Update patch set 2
  622ab28cae3cdd6cf135f0bbd53fc58f70b2af8c
Due: tempest-full-py3, tempest-pg-full

Update patch set 2
  cbf7fd7d5477f90c7e065b70f5ef7258ec0b4dbe
Due: tempest-full-py3, tempest-pg-full

DNM: test with capped pytest
  .zuul.d/project.yaml
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py38, cross-barbican-py38, cross-ceilometer-py38, cross-cinder-py38, cross-designate-py38, cross-glance-py38, cross-heat-py38, cross-horizon-py38, cross-horizon-npm, cross-keystone-py38, cross-kuryr-py38, cross-ironic-py38, cross-manila-py38, cross-masakari-py38, cross-mistral-py38, cross-neutron-py38, cross-nova-functional, cross-placement-functional-py38, cross-nova-py38, cross-placement-py38, cross-osvif-py3, cross-octavia-py38, cross-swift-py38, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, cross-nova-py311, cross-placement-py311, tempest-full-py3, tempest-pg-full

update constraint for ovsdbapp to new release 2.7.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py38, cross-barbican-py38, cross-ceilometer-py38, cross-cinder-py38, cross-designate-py38, cross-glance-py38, cross-heat-py38, cross-horizon-py38, cross-horizon-npm, cross-keystone-py38, cross-kuryr-py38, cross-ironic-py38, cross-manila-py38, cross-masakari-py38, cross-mistral-py38, cross-neutron-py38, cross-nova-functional, cross-placement-functional-py38, cross-nova-py38, cross-placement-py38, cross-osvif-py3, cross-octavia-py38, cross-swift-py38, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, cross-nova-py311, cross-placement-py311, tempest-full-py3, tempest-pg-full
