Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-tox-py37-check-uc-aarch64, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8-stream, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, build-wheel-cache-ubuntu-jammy-arm64, tempest-pg-full

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-run-test-browser
  timeout: 2400
  ...

cross-aodh-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on aodh with py310.
  required-projects: openstack/aodh
  vars:
    tox_envlist: py310

cross-barbican-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on barbican with py310.
  required-projects: openstack/barbican
  vars:
    tox_envlist: py310

cross-ceilometer-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on ceilometer with py310.
  required-projects: openstack/ceilometer
  vars:
    tox_envlist: py310

cross-cinder-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py310.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py310

cross-designate-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on designate with py310.
  required-projects: openstack/designate
  vars:
    tox_envlist: py310

cross-glance-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py310.
  required-projects: openstack/glance
  vars:
    tox_envlist: py310

cross-heat-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on heat with py310.
  required-projects: openstack/heat
  vars:
    tox_envlist: py310

cross-horizon-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py310.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py310

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py310.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py310

cross-kuryr-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on kuryr-kubernetes with py310.
  required-projects: openstack/kuryr-kubernetes
  vars:
    tox_envlist: py310

cross-ironic-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on ironic with py310.
  required-projects: openstack/ironic
  nodeset: ubuntu-focal
  vars:
    tox_envlist: py310

cross-manila-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on manila with py310.
  required-projects: openstack/manila
  vars:
    tox_envlist: py310

cross-masakari-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on masakari with py310.
  required-projects: openstack/masakari
  vars:
    tox_envlist: py310

cross-mistral-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on mistral with py310.
  required-projects: openstack/mistral
  vars:
    tox_envlist: py310

Update patch set 1
  d3281245ed2c6ffc2380c8fc77165614fd44fefb
Due: tempest-full-py3, tempest-pg-full

Update patch set 1
  a957f9aeb31832d48655110cb82d5cb0c52683cd
Due: tempest-full-py3, tempest-pg-full

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, tempest-pg-full

DNM: Quick check neutron stadiums with sqlalchemy2
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, tempest-full-py3, tempest-pg-full

Update patch set 3
  eccc910360fda836f8abb7b0401b93bb04ab866e
Due: tempest-full-py3, tempest-pg-full

Update patch set 3
  a0bffc85937f5e16def81d09ed0864aef7db3aa8
Due: tempest-full-py3, tempest-pg-full

Update patch set 3
  d3281245ed2c6ffc2380c8fc77165614fd44fefb
Due: tempest-full-py3, tempest-pg-full

Update patch set 1
  e2b5761729ac8ba0b00c849eb3795cbbbb5aaa9a
Due: tempest-full-py3, tempest-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py310: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-placement-py310: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-tox-py37-check-uc-aarch64: any of: ^upper-constraints.*txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-centos-8-stream: any of: bindep.txt
  build-wheel-cache-debian-buster: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-centos-8-stream-arm64: any of: bindep.txt
  build-wheel-cache-debian-buster-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy-arm64: any of: bindep.txt
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
