Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-tox-py37-check-uc-aarch64, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8-stream, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-run-test-browser
  timeout: 2400
  ...

cross-aodh-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on aodh with py310.
  required-projects: openstack/aodh
  vars:
    tox_envlist: py310

cross-barbican-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on barbican with py310.
  required-projects: openstack/barbican
  vars:
    tox_envlist: py310

cross-ceilometer-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on ceilometer with py310.
  required-projects: openstack/ceilometer
  vars:
    tox_envlist: py310

cross-cinder-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py310.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py310

cross-designate-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on designate with py310.
  required-projects: openstack/designate
  vars:
    tox_envlist: py310

cross-glance-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py310.
  required-projects: openstack/glance
  vars:
    tox_envlist: py310

cross-heat-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on heat with py310.
  required-projects: openstack/heat
  vars:
    tox_envlist: py310

cross-horizon-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py310.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py310

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py310.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py310

cross-kuryr-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on kuryr-kubernetes with py310.
  required-projects: openstack/kuryr-kubernetes
  vars:
    tox_envlist: py310

cross-ironic-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on ironic with py310.
  required-projects: openstack/ironic
  nodeset: ubuntu-focal
  vars:
    tox_envlist: py310

cross-manila-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on manila with py310.
  required-projects: openstack/manila
  vars:
    tox_envlist: py310

cross-masakari-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on masakari with py310.
  required-projects: openstack/masakari
  vars:
    tox_envlist: py310

cross-mistral-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on mistral with py310.
  required-projects: openstack/mistral
  vars:
    tox_envlist: py310

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full

Updated from generate-constraints
  bindep.txt
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-bindep, requirements-tox-py37-check-uc-aarch64, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8-stream, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full

Update patch set 1
  36716b655d2da2477469f5812ccdc9d6145f127f
Due: tempest-full-py3, tempest-pg-full

Update patch set 10
  75fb5c8547dd6b50caf3cf0b225165693a353a9e
Due: tempest-full-py3, tempest-pg-full

Update patch set 4
  ba0b95bec368cdc182129a9ee9385d2f23b93189
Due: tempest-full-py3, tempest-pg-full

Update notes for submitted changes
  ed/729a3fdc3e61696b29ed913c46340dee40be1e
Due: tempest-full-py3, tempest-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-tox-py37-check-uc-aarch64: any of: ^upper-constraints.*txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-centos-8-stream: any of: bindep.txt
  build-wheel-cache-debian-buster: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy: any of: bindep.txt
  cross-nova-py38: any of: ^upper-constraints.txt$
  cross-placement-py38: any of: ^upper-constraints.txt$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
