Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, requirements-tox-validate-projects, requirements-tox-bindep, requirements-check

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-run-test-browser
  timeout: 2400
  ...

cross-cinder-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py27.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py27

cross-cinder-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py35.
  required-projects: openstack/cinder
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-glance-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py27.
  required-projects: openstack/glance
  vars:
    tox_envlist: py27

cross-glance-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py35.
  required-projects: openstack/glance
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-horizon-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py27.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py27

cross-horizon-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py35.
  required-projects: openstack/horizon
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py27.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py27

cross-keystone-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py35.
  required-projects: openstack/keystone
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-neutron-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py27.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py27

cross-neutron-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py35.
  required-projects: openstack/neutron
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py27.
  required-projects: openstack/nova
  vars:
    tox_envlist: py27

cross-nova-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py35.
  required-projects: openstack/nova
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

requirements-check:
  parent: unittests
  nodeset: ubuntu-jammy
  run: playbooks/requirements-check.yaml
  required-projects:
  - openstack/requirements

Update patch set 5
  258e59dd69257376d2516b57a471314ca5661911
Due: none

Remove oauth2client
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, requirements-check

Remove kafka-python
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, requirements-check

Update patch set 1
  16fd3f8cae82529048810f686087d33708a9402c
Due: none

Update notes for submitted changes
  16/fd3f8cae82529048810f686087d33708a9402c
Due: none

Update patch set 2
  bad850c4d2414ae5a4c87dc5e48e07016f72f3f4
Due: none

Update patch set 4
  314734e938f107cbd5ebcc7af4d9167c11347406
Due: none

Update observabilityclient to 0.1.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels

Update patch set 1
  ce5c209dd44e5128ee1c13da5d7ca757070ee87d
Due: none

Update patch set 5
  07d44b297bfe3d30685327890729d82d504850bb
Due: none

Update notes for submitted changes
  07/d44b297bfe3d30685327890729d82d504850bb
Due: none

Update notes for submitted changes
  25/8e59dd69257376d2516b57a471314ca5661911
Due: none

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py39-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py310-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py311-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py39-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py310-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py311-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$
