Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels, requirements-tox-validate-projects, requirements-tox-bindep, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py39-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py310-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py311-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py39-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py310-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-py311-check-uc-no-wheels: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py38-check-uc, requirements-tox-py39-check-uc, requirements-tox-py310-check-uc, requirements-tox-py311-check-uc, requirements-tox-py38-check-uc-no-wheels, requirements-tox-py39-check-uc-no-wheels, requirements-tox-py310-check-uc-no-wheels, requirements-tox-py311-check-uc-no-wheels

Update patch set 1
  d068d9323c3476b7c07088ac0b327e585da35f36
Due: none

Update patch set 19
  1fa7310c079bdfbf7aaf8e9d561adcd36c91620e
Due: none

Update patch set 1
  d7212e13aa564d8302c8aaba9ec8904a8cfd2056
Due: none

Remove Cinder volume-driver specific libraries
  global-requirements.txt
Due: requirements-check

Remove stale, unused dependencies
  global-requirements.txt
Due: requirements-check

Sort global-requirements
  global-requirements.txt
  tools/sort.py
Due: requirements-check

Group requirements into sections
  global-requirements.txt
Due: requirements-check

Update patch set 2
  d7212e13aa564d8302c8aaba9ec8904a8cfd2056
Due: none

Update patch set 1
  99603a68baee960bb6458c2a9bcd3da7efb9e48c
Due: none

Update patch set 2
  15c40d03b2178bf1db5cccb069cf608724998ac6
Due: none

Update patch set 2
  d3988163c174cb95bbe84a390788b656606b3611
Due: none

Update patch set 2
  dbeeaaa0668e026743a55489fb07ea33a03488b2
Due: none

Update patch set 16
  d99afce8820a0607c854db205abaa9fd2fa65e86
Due: none

Update notes for submitted changes
  e8/bff3574cec1c90576e39b03dfb638fb5d78ac9
Due: none
