Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-check, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-trusty, build-wheel-mirror-ubuntu-xenial

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  build-wheel-mirror-centos-7: any of: bindep.txt
  build-wheel-mirror-ubuntu-bionic: any of: bindep.txt
  build-wheel-mirror-ubuntu-trusty: any of: bindep.txt
  build-wheel-mirror-ubuntu-xenial: any of: bindep.txt

import legacy jobs from openstack-zuul-jobs
  .zuul.d/jobs.yaml
  playbooks/requirements-integration-dsvm-ubuntu-trusty/post.yaml
  playbooks/requirements-integration-dsvm-ubuntu-trusty/run.yaml
  playbooks/requirements-integration-dsvm/post.yaml
  playbooks/requirements-integration-dsvm/run.yaml
Due: none

import legacy jobs from openstack-zuul-jobs
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  playbooks/requirements-integration-dsvm-ubuntu-trusty/post.yaml
  playbooks/requirements-integration-dsvm-ubuntu-trusty/run.yaml
  playbooks/requirements-integration-dsvm/post.yaml
  playbooks/requirements-integration-dsvm/run.yaml
Due: none

Update notes for submitted changes
  98/3d86b6db6e641cd8799fb90c121d178e92d636
Due: none

update upper-constraints
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc

Add Django-debreach to global-requirements.txt
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check
