Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-trusty, build-wheel-mirror-ubuntu-xenial

requirements-cross-test:
  parent: openstack-tox
  ...

cross-cinder-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py27.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py27

cross-cinder-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py35.
  required-projects: openstack/cinder
  voting: false
  vars:
    tox_envlist: py35

cross-glance-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py27.
  required-projects: openstack/glance
  vars:
    tox_envlist: py27

cross-glance-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py35.
  required-projects: openstack/glance
  vars:
    tox_envlist: py35

cross-horizon-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py27.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py27

cross-horizon-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py35.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py35

cross-keystone-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py27.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py27

cross-keystone-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py35.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py35

cross-neutron-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py27.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py27

cross-neutron-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py35.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py35

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py27.
  required-projects: openstack/nova
  vars:
    tox_envlist: py27

cross-nova-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py35.
  required-projects: openstack/nova
  vars:
    tox_envlist: py35

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py35.
  required-projects: openstack/swift
  vars:
    tox_envlist: py35

requirements-tox-babel:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``babel`` environment.
  
    '
  vars:
    tox_envlist: babel

Bump oslo.config to 5.2.0
  global-requirements.txt
Due: requirements-check

Update notes for submitted changes
  65/34af7b7d65a8da8aa8086d93c3fd38bb8da45e
Due: none

Update notes for submitted changes
  81/6cb40de13d497ee7cc8a3e0bec08be8615fab6
Due: none

Update notes for submitted changes
  36/ba55e702676df7f4d6e6e6da503c99ebc6093a
Due: none

update constraint for python-zunclient to new release 1.2.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc

DNM: testing arm64 wheels
  bindep.txt
Due: build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-trusty, build-wheel-mirror-ubuntu-xenial

Update patch set 1
  31775b22d3b31fb4aa00ef4ca67fbb045a45de42
Due: none

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  build-wheel-mirror-centos-7: any of: bindep.txt
  build-wheel-mirror-ubuntu-bionic: any of: bindep.txt
  build-wheel-mirror-ubuntu-trusty: any of: bindep.txt
  build-wheel-mirror-ubuntu-xenial: any of: bindep.txt
