Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py36, cross-glance-py27, cross-glance-py36, cross-horizon-py27, cross-horizon-py36, cross-horizon-npm, cross-keystone-py27, cross-keystone-py36, cross-neutron-py27, cross-neutron-py36, cross-nova-functional, cross-nova-py27, cross-nova-py36, cross-swift-py27, cross-swift-py36, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py36-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-check

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-npm-run-test
  timeout: 2400
  ...

cross-cinder-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py27.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py27

cross-cinder-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py36.
  required-projects: openstack/cinder
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py36

cross-glance-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py27.
  required-projects: openstack/glance
  vars:
    tox_envlist: py27

cross-glance-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py36.
  required-projects: openstack/glance
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py36

cross-horizon-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py27.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py27

cross-horizon-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py36.
  required-projects: openstack/horizon
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py36

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py27.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py27

cross-keystone-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py36.
  required-projects: openstack/keystone
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py36

cross-neutron-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py27.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py27

cross-neutron-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py36.
  required-projects: openstack/neutron
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py36

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py27.
  required-projects: openstack/nova
  vars:
    tox_envlist: py27

cross-nova-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py36.
  required-projects: openstack/nova
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py36

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

Update notes for submitted changes
  02/12658debf0863a50be5c588dc60109d9846762
Due: none

Update notes for submitted changes
  37/5a5fded52d7456240be0357de2fd1c09aaef29
Due: none

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py36, cross-glance-py27, cross-glance-py36, cross-horizon-py27, cross-horizon-py36, cross-horizon-npm, cross-keystone-py27, cross-keystone-py36, cross-neutron-py27, cross-neutron-py36, cross-nova-functional, cross-nova-py27, cross-nova-py36, cross-swift-py27, cross-swift-py36, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py36-check-uc

update constraint for python-novaclient to new release 14.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py36, cross-glance-py27, cross-glance-py36, cross-horizon-py27, cross-horizon-py36, cross-horizon-npm, cross-keystone-py27, cross-keystone-py36, cross-neutron-py27, cross-neutron-py36, cross-nova-functional, cross-nova-py27, cross-nova-py36, cross-swift-py27, cross-swift-py36, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py36-check-uc

Adds Patrole
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py36, cross-glance-py27, cross-glance-py36, cross-horizon-py27, cross-horizon-py36, cross-horizon-npm, cross-keystone-py27, cross-keystone-py36, cross-neutron-py27, cross-neutron-py36, cross-nova-functional, cross-nova-py27, cross-nova-py36, cross-swift-py27, cross-swift-py36, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py36-check-uc, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-build-sphinx-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
