Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-tox-py37-check-uc-aarch64, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-tox-py37-check-uc-aarch64: any of: ^upper-constraints.*txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-centos-8: any of: bindep.txt
  build-wheel-cache-debian-buster: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  cross-nova-py38: any of: ^upper-constraints.txt$
  cross-placement-py38: any of: ^upper-constraints.txt$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$

Update patch set 2
  dacb01c5652d084e0a7de988aa2c631f84a3fb65
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Bump Django version to Current LTS Version
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add Spinx RTD theme
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, requirements-check, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

DNM: Show failed builds and dependents
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update patch set 1
  a8d4c58bc160cc7b72fe270c774b3829ad44a5fa
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Bump Django version to Current LTS Version
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, requirements-check, cross-nova-py38, cross-placement-py38, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update patch set 3
  a8d4c58bc160cc7b72fe270c774b3829ad44a5fa
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15
