Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-tox-py37-check-uc-aarch64, requirements-check, neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, cross-nova-py35, legacy-tempest-dsvm-neutron-pg-full

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-npm-run-test
  timeout: 2400
  ...

cross-cinder-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py36.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py36

cross-glance-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py36.
  required-projects: openstack/glance
  vars:
    tox_envlist: py36

cross-horizon-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py36.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py36

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py36.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py36

cross-ironic-py38:
  parent: requirements-cross-test
  description: Run cross-project tests on ironic with py38.
  required-projects: openstack/ironic
  vars:
    tox_envlist: py38

cross-neutron-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py36.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py36

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py36.
  required-projects: openstack/nova
  vars:
    tox_envlist: py36

cross-octavia-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on octavia with py36.
  required-projects: openstack/octavia
  vars:
    tox_envlist: py36

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py36.
  required-projects: openstack/swift
  vars:
    tox_envlist: py36

cross-osc-tox-docs:
  parent: openstack-tox-docs
  description: 'Run cross-project tests on python-openstackclient with
  
    openstack-tox-docs.
  
    '
  vars:
    zuul_work_dir: src/opendev.org/openstack/python-openstackclient
  required-projects:
  - openstack/python-openstackclient

requirements-tox-babel:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``babel`` environment.
  
    '
  vars:
    tox_envlist: babel

requirements-tox-bindep:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``bindep`` environment.
  
    '
  vars:
    tox_envlist: bindep

Remove the networking-l2gw deliverables from req
  projects.txt
Due: requirements-tox-validate-projects, neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full

Remove the networking-l2gw deliverables from req
  blacklist.txt
  global-requirements.txt
  projects.txt
Due: requirements-tox-validate-projects, requirements-check, neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full

Update notes for submitted changes
  72/d1b5f86d40ff072b2e1c72ce1c84666b65daff
Due: neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full

Update notes for submitted changes
  7e/8248160d9b205f16a47ef234cf43e75067b0b6
Due: neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full

manual upper-constraints run
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, requirements-check, neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, cross-nova-py35, legacy-tempest-dsvm-neutron-pg-full

Update patch set 3
  feef36f5b642804c3e9bbd44254dd30f67bcf84d
Due: neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full

Use venv instead of virtualenv in generate script
  openstack_requirements/cmds/generate.py
  openstack_requirements/tests/test_generate.py
Due: neutron-grenade-multinode, legacy-tempest-dsvm-neutron-full, neutron-grenade, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-tox-py37-check-uc-aarch64: any of: ^upper-constraints.*txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  cross-nova-py35: any of: ^upper-constraints.txt$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
