Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-tox-py37-check-uc-aarch64, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-tox-py37-check-uc-aarch64: any of: ^upper-constraints.*txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$

Update notes for submitted changes
  73/ff9c82be03cec9b68e33dcb9f52038607d5494
Due: none

Update patch set 2
  73ff9c82be03cec9b68e33dcb9f52038607d5494
Due: none

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64

Update patch set 2
  2bbbdb9991b69052c80d83be7ec21985eb01bafd
Due: none

Manually generated constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64

[DNM] Tools and data used for previous commit
  focal-3.8-upper-constraints.txt
  focal-3.9-upper-constraints.txt
  global-requirements.txt
  jammy-3.10-upper-constraints.txt
  jammy-3.11-upper-constraints.txt
  openstack_requirements/cmds/generate.py
  openstack_requirements/cmds/merge_constraints.py
  setup.cfg
  uc-update-ubuntu-containers.sh
Due: requirements-check

Update robot comments
  6ba896ca80c0a1fe79a3875db2b00b390e7356bd
Due: none

Update patch set 1
  497c97508d0084c8f0bd8a2fd560fe487acdebe1
Due: none

Update notes for submitted changes
  49/7c97508d0084c8f0bd8a2fd560fe487acdebe1
Due: none

Update patch set 1
  c4f655dbeafce2fccc41aef9dbc233a54d4aee4d
Due: none

Update notes for submitted changes
  c4/f655dbeafce2fccc41aef9dbc233a54d4aee4d
Due: none

update constraint for osc-lib to new release 2.9.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64
