Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, requirements-tox-py37-check-uc-aarch64, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-npm-run-test
  timeout: 2400
  ...

cross-cinder-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py36.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py36

cross-glance-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py36.
  required-projects: openstack/glance
  vars:
    tox_envlist: py36

cross-horizon-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py36.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py36

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py36.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py36

cross-ironic-py38:
  parent: requirements-cross-test
  description: Run cross-project tests on ironic with py38.
  required-projects: openstack/ironic
  vars:
    tox_envlist: py38

cross-neutron-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py36.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py36

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py36.
  required-projects: openstack/nova
  vars:
    tox_envlist: py36

cross-octavia-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on octavia with py36.
  required-projects: openstack/octavia
  vars:
    tox_envlist: py36

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py36.
  required-projects: openstack/swift
  vars:
    tox_envlist: py36

cross-osc-tox-docs:
  parent: openstack-tox-docs
  description: 'Run cross-project tests on python-openstackclient with
  
    openstack-tox-docs.
  
    '
  vars:
    zuul_work_dir: src/opendev.org/openstack/python-openstackclient
  required-projects:
  - openstack/python-openstackclient

requirements-tox-babel:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``babel`` environment.
  
    '
  vars:
    tox_envlist: babel

requirements-tox-bindep:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``bindep`` environment.
  
    '
  vars:
    tox_envlist: bindep

update openstackdocstheme to 2.2.6
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update oslo.messaging to 12.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update notes for submitted changes
  d8/d2e848ec057c47963d33dbd44479fc28e6f38b
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

[WIP] Block alembic 1.4.3
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-ironic-py38, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py36-check-uc, requirements-tox-py38-check-uc, requirements-tox-py37-check-uc-aarch64, requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py38: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-octavia-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py38-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  requirements-tox-py37-check-uc-aarch64: any of: ^upper-constraints.*txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-centos-8: any of: bindep.txt
  build-wheel-cache-debian-buster: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
