Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-check, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

cross-cinder-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-glance-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-horizon-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-keystone-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-neutron-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-nova-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-swift-py35:
  branches: ^(?!stable/(newton|ocata)).*$

Update notes for submitted changes
  f7/00250e3afea96eed8ddd15ebc2e0bc4e53eaf2
Due: none

Updated from generate-constraints
  upper-constraints.txt
Due: cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

Update notes for submitted changes
  86/9832ffa6c36a8750a0e901e088c9167cec22b8
Due: none

Update notes for submitted changes
  4f/54188c6171bf7fa1cb7f854fb4d004a0437147
Due: none

Bump oslo.utils to 3.31
  global-requirements.txt
Due: requirements-check

Path conditions:
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  cross-cinder-py27: any of: ^upper-constraints.txt$
  cross-cinder-py35: any of: ^upper-constraints.txt$
  cross-glance-py27: any of: ^upper-constraints.txt$
  cross-glance-py35: any of: ^upper-constraints.txt$
  cross-horizon-py27: any of: ^upper-constraints.txt$
  cross-horizon-py35: any of: ^upper-constraints.txt$
  cross-keystone-py27: any of: ^upper-constraints.txt$
  cross-keystone-py35: any of: ^upper-constraints.txt$
  cross-neutron-py27: any of: ^upper-constraints.txt$
  cross-neutron-py35: any of: ^upper-constraints.txt$
  cross-nova-py27: any of: ^upper-constraints.txt$
  cross-nova-py35: any of: ^upper-constraints.txt$
  cross-nova-functional: any of: ^upper-constraints.txt$
  cross-swift-py27: any of: ^upper-constraints.txt$
  cross-swift-py35: any of: ^upper-constraints.txt$
