Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-check, legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

.zuul.d/project-template.yaml:

- project-template:
    name: check-requirements
    check:
      jobs:
        - requirements-check
    gate:
      jobs:
        - requirements-check

- job:
    name: requirements-check
    parent: unittests
    required-projects:
      - openstack/requirements
    files:
      - ^tools/.*-requires$
      - ^.*requirements.txt$
      - ^.*requirements-py[2,3].txt$
      - playbooks/requirements-check.yaml

.zuul.d/project.yaml:

- project:
    name: openstack/requirements
    check:
      jobs:
        - openstack-tox-validate
        - legacy-cross-cinder-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-cinder-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-glance-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-glance-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-horizon-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-horizon-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-keystone-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-keystone-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-neutron-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-neutron-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-nova-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-nova-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-nova-func:
            files: ^upper-constraints.txt$
        - legacy-cross-swift-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-swift-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
    gate:
      queue: integrated
      jobs:
        - openstack-tox-validate
        - legacy-cross-cinder-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-cinder-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-glance-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-glance-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-horizon-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-horizon-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-keystone-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-keystone-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-neutron-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-neutron-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-nova-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-nova-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$
        - legacy-cross-nova-func:
            files: ^upper-constraints.txt$
        - legacy-cross-swift-python27:
            files: ^upper-constraints.txt$
        - legacy-cross-swift-python35:
            branches: ^(?!stable/(newton|ocata)).*$
            files: ^upper-constraints.txt$

Update sphinx requirement
  global-requirements.txt
  test-requirements.txt
Due: requirements-check

Update sphinx requirement
  doc/source/conf.py
  global-requirements.txt
  test-requirements.txt
Due: requirements-check

remove numpy from upper-constraints
  upper-constraints.txt
Due: legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

Update patch set 2
  96b381c43884aa5ed0b5f4805cdf86d8313ee592
Due: none

Updated from generate-constraints
  upper-constraints.txt
Due: legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

Use actually existing lower bounds on g-r
  global-requirements.txt
Due: requirements-check

Raise pip min version to 7.1.2
  global-requirements.txt
Due: requirements-check

Raise cliff-tablib min requires
  global-requirements.txt
Due: requirements-check

WIP: Add a global lower-requirements.txt file
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  lower-constraints.txt
  tox.ini
Due: none
