Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-check, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

Path conditions:
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  cross-cinder-py27: any of: ^upper-constraints.txt$
  cross-cinder-py35: any of: ^upper-constraints.txt$
  cross-glance-py27: any of: ^upper-constraints.txt$
  cross-glance-py35: any of: ^upper-constraints.txt$
  cross-horizon-py27: any of: ^upper-constraints.txt$
  cross-horizon-py35: any of: ^upper-constraints.txt$
  cross-keystone-py27: any of: ^upper-constraints.txt$
  cross-keystone-py35: any of: ^upper-constraints.txt$
  cross-neutron-py27: any of: ^upper-constraints.txt$
  cross-neutron-py35: any of: ^upper-constraints.txt$
  cross-nova-py27: any of: ^upper-constraints.txt$
  cross-nova-py35: any of: ^upper-constraints.txt$
  cross-nova-functional: any of: ^upper-constraints.txt$
  cross-swift-py27: any of: ^upper-constraints.txt$
  cross-swift-py35: any of: ^upper-constraints.txt$

Update notes for submitted changes
  d2/0bc49b3dd1c5428ce144bc0124710151216189
Due: none

Updated from generate-constraints
  upper-constraints.txt
Due: cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

Add pycodestyle
  blacklist.txt
  openstack_requirements/tests/files/blacklist.txt
  openstack_requirements/tests/files/gr-base.txt
Due: none

Normalize global-requirements.txt
  blacklist.txt
  global-requirements.txt
  openstack_requirements/cmds/validate.py
Due: requirements-check

Update patch set 4
  8970f331c027a399aa02f006f6d53cacb041ea51
Due: none

update constraint for python-monascaclient to new release 1.8.0
  upper-constraints.txt
Due: cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35
