Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-check, legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

legacy-cross-cinder-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-glance-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-horizon-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-keystone-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-neutron-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-nova-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-swift-python35:
  branches: ^(?!stable/(newton|ocata)).*$

Update os-refresh/apply/collect-config for pbr compat
  global-requirements.txt
Due: requirements-check

WIP: Add a global lower-requirements.txt file
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  lower-constraints-xfails.txt
  lower-constraints.txt
  tox.ini
Due: none

Updated from generate-constraints
  upper-constraints.txt
Due: legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

update constraint for mistral-lib to new release 0.3.3
  upper-constraints.txt
Due: legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

Update notes for submitted changes
  df/8d92a25febb45f1113cecb8c10abe2cd8ec300
Due: none

Path conditions:
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  legacy-cross-cinder-python27: any of: ^upper-constraints.txt$
  legacy-cross-cinder-python35: any of: ^upper-constraints.txt$
  legacy-cross-glance-python27: any of: ^upper-constraints.txt$
  legacy-cross-glance-python35: any of: ^upper-constraints.txt$
  legacy-cross-horizon-python27: any of: ^upper-constraints.txt$
  legacy-cross-horizon-python35: any of: ^upper-constraints.txt$
  legacy-cross-keystone-python27: any of: ^upper-constraints.txt$
  legacy-cross-keystone-python35: any of: ^upper-constraints.txt$
  legacy-cross-neutron-python27: any of: ^upper-constraints.txt$
  legacy-cross-neutron-python35: any of: ^upper-constraints.txt$
  legacy-cross-nova-python27: any of: ^upper-constraints.txt$
  legacy-cross-nova-python35: any of: ^upper-constraints.txt$
  legacy-cross-nova-func: any of: ^upper-constraints.txt$
  legacy-cross-swift-python27: any of: ^upper-constraints.txt$
  legacy-cross-swift-python35: any of: ^upper-constraints.txt$
