Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-check, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

cross-cinder-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-glance-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-horizon-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-keystone-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-neutron-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-nova-py35:
  branches: ^(?!stable/(newton|ocata)).*$

cross-swift-py35:
  branches: ^(?!stable/(newton|ocata)).*$

update constraint for openstack-release-test to new release 0.10.1
  upper-constraints.txt
Due: cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

Update neutron-lib to 1.11.0 release
  global-requirements.txt
  upper-constraints.txt
Due: requirements-check, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

Update neutron-lib to 1.11.0 release
  global-requirements.txt
Due: requirements-check

Update minimum acceptable neutron-lib to 1.11.0
  global-requirements.txt
Due: requirements-check

Updated from generate-constraints
  upper-constraints.txt
Due: cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-py27, cross-nova-py35, cross-nova-functional, cross-swift-py27, cross-swift-py35

Add heat-dashboard to projects.txt
  projects.txt
Due: none

Path conditions:
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  cross-cinder-py27: any of: ^upper-constraints.txt$
  cross-cinder-py35: any of: ^upper-constraints.txt$
  cross-glance-py27: any of: ^upper-constraints.txt$
  cross-glance-py35: any of: ^upper-constraints.txt$
  cross-horizon-py27: any of: ^upper-constraints.txt$
  cross-horizon-py35: any of: ^upper-constraints.txt$
  cross-keystone-py27: any of: ^upper-constraints.txt$
  cross-keystone-py35: any of: ^upper-constraints.txt$
  cross-neutron-py27: any of: ^upper-constraints.txt$
  cross-neutron-py35: any of: ^upper-constraints.txt$
  cross-nova-py27: any of: ^upper-constraints.txt$
  cross-nova-py35: any of: ^upper-constraints.txt$
  cross-nova-functional: any of: ^upper-constraints.txt$
  cross-swift-py27: any of: ^upper-constraints.txt$
  cross-swift-py35: any of: ^upper-constraints.txt$
