Repository tanaypf9/pf9-requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-check, legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

legacy-cross-cinder-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-glance-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-horizon-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-keystone-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-neutron-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-nova-python35:
  branches: ^(?!stable/(newton|ocata)).*$

legacy-cross-swift-python35:
  branches: ^(?!stable/(newton|ocata)).*$

Update notes for submitted changes
  4f/bcee9ca46302bd7817e6a1ba8b2daaaa5e81d8
Due: none

Update notes for submitted changes
  af/a8077ee64c694bbb133aea064e94defdf8cde2
Due: none

Backport zuulv3 configuration to stable branches
  .zuul.d/cross-jobs.yaml
  .zuul.d/jobs.yaml
  .zuul.d/project-template.yaml
  .zuul.d/project.yaml
  playbooks/files/project-requirements-change.py
  playbooks/requirements-check.yaml
Due: requirements-check

update constraint for os-apply-config to new release 6.1.2
  upper-constraints.txt
Due: legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

update constraint for tripleo-common to new release 6.1.3
  upper-constraints.txt
Due: legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

update constraint for whereto to new release 0.4.0
  upper-constraints.txt
Due: legacy-cross-cinder-python27, legacy-cross-cinder-python35, legacy-cross-glance-python27, legacy-cross-glance-python35, legacy-cross-horizon-python27, legacy-cross-horizon-python35, legacy-cross-keystone-python27, legacy-cross-keystone-python35, legacy-cross-neutron-python27, legacy-cross-neutron-python35, legacy-cross-nova-python27, legacy-cross-nova-python35, legacy-cross-nova-func, legacy-cross-swift-python27, legacy-cross-swift-python35

Bump required os-brick to 2.1.0
  global-requirements.txt
Due: requirements-check

Path conditions:
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
  legacy-cross-cinder-python27: any of: ^upper-constraints.txt$
  legacy-cross-cinder-python35: any of: ^upper-constraints.txt$
  legacy-cross-glance-python27: any of: ^upper-constraints.txt$
  legacy-cross-glance-python35: any of: ^upper-constraints.txt$
  legacy-cross-horizon-python27: any of: ^upper-constraints.txt$
  legacy-cross-horizon-python35: any of: ^upper-constraints.txt$
  legacy-cross-keystone-python27: any of: ^upper-constraints.txt$
  legacy-cross-keystone-python35: any of: ^upper-constraints.txt$
  legacy-cross-neutron-python27: any of: ^upper-constraints.txt$
  legacy-cross-neutron-python35: any of: ^upper-constraints.txt$
  legacy-cross-nova-python27: any of: ^upper-constraints.txt$
  legacy-cross-nova-python35: any of: ^upper-constraints.txt$
  legacy-cross-nova-func: any of: ^upper-constraints.txt$
  legacy-cross-swift-python27: any of: ^upper-constraints.txt$
  legacy-cross-swift-python35: any of: ^upper-constraints.txt$
